h1{
    color:cadetblue
}

body{
    color:rgb(0, 0, 0)
}

em{
    color:#FF00FF
}

html{
    background-color:rgb(255, 255, 255)
}

a[title] {
    color:red
}

header .entete {
    text-align: center;
}

header .entete { 
border: 3px solid black ;
padding: 5px;
padding-top : 10px;
margin: 10px;
margin-left : 20em; 
margin-right : 20em;
 }

.retour {
    text-align: right;
}